@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-fresh-bg text-fresh-text antialiased font-sans;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-fresh-border/20 rounded-full hover:bg-fresh-border/40 transition-colors;
  }
}
